warehouse:
  driver: console
  table: events_dev

receiver:
  batch_timeout: 1s

sessions:
  timeout: 5s

monitoring:
  enabled: false
  otel_endpoint: localhost:4317
  otel_export_interval: 1s
  otel_insecure: true

storage:
  bolt_directory: /tmp/
  queue_directory: /tmp/d8a-queue
  spool_enabled: false # Enable for production

filters:
  conditions:
    - name: "internal_traffic"
      type: exclude
      test_mode: true
      expression: 'starts_with(ip_address, "192.168") || in_cidr(ip_address, "10.0.0.0/8")'
