warehouse: console

batcher:
  batch_timeout: 1s

closer:
  session_duration: 10s

monitoring:
  enabled: false
  otel_endpoint: localhost:4317
  otel_export_interval: 1s
  otel_insecure: true

storage:
  bolt_directory: /tmp/
  queue_directory: /tmp/d8a-queue
