/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f59e42;
  --ifm-color-primary-dark: #d97706;
  --ifm-color-primary-darker: #b45309;
  --ifm-color-primary-darkest: #78350f;
  --ifm-color-primary-light: #fbbf24;
  --ifm-color-primary-lighter: #fde68a;
  --ifm-color-primary-lightest: #fffbeb;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(251, 191, 36, 0.15);
}

[data-theme='dark'] {
  --ifm-color-primary: #fbbf24;
  --ifm-color-primary-dark: #f59e42;
  --ifm-color-primary-darker: #d97706;
  --ifm-color-primary-darkest: #b45309;
  --ifm-color-primary-light: #fde68a;
  --ifm-color-primary-lighter: #fef3c7;
  --ifm-color-primary-lightest: #fffbeb;
  --docusaurus-highlighted-code-line-bg: rgba(251, 191, 36, 0.25);
}